{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "useTabs": false,
  "quoteProps": "as-needed",
  "bracketSpacing": true,
  "objectWrap": "preserve",
  "bracketSameLine": false,
  "arrowParens": "always",
  "proseWrap": "always",
  "singleAttributePerLine": false,
  "printWidth": 80
}