.root {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(0, 1fr) 100px;
  user-select: none;
  -webkit-user-select: none;
  overflow: hidden;
  background-color: var(--background);
}

.playWindow {
  grid-column: 1;
  grid-row: 1;
}

.buyWindow {
  grid-column: 2;
  grid-row: 1;
  background-color: var(--surface);
  margin-left: -1px;
  border-left: 2px solid var(--secondary);
}

.upgradeList {
  gap: 0.5rem;
  margin: 0.5rem 3rem 0 1rem;
}

.menuBar {
  grid-column: 1 / -1;
  grid-row: 2;
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.infoContainer {
  display: flex;
  justify-content: space-evenly;
}

.infoText {
  color: #fff;
  background-color: var(--secondary);
  color: var(--onSecondary);
  border-radius: 2rem;
  padding: 0.5rem 1rem;
}

.menuIcon {
  color: var(--onPrimary);
  padding: 0.5rem;
  border-radius: 3rem;
  font-size: 3rem;
}

.menuIconSelected {
  box-shadow: 0 0 10px var(--onPrimary);
  background-color: var(--onPrimary);
  color: var(--primary);
}

.altWindow {
  grid-column: 1 / -1;
  grid-row: 1;
}

.clickable {
  transition: transform 0.1s ease;
}

.clickable:hover {
  transform: scale(1.1);
  cursor: pointer;
}