.root {
  background-color: var(--primaryContainer);
  display: flex;
  height: 100%;
  padding: 0 20%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.text {
  color: var(--onPrimaryContainer);
  font-size: 20px;
  text-align: center;
  margin: 0;
}

.link {
  color: var(--onPrimaryContainer);
  text-decoration: underline;
}
