.tile {
  background-color: #3f8efc;
  cursor: pointer;
  border-radius: 4rem;
  display: flex;
  padding: 0.5rem 3rem;
  align-items: center;
  justify-content: space-between;
}

.counterText {
  color: #000;
  background-color: #fff;
  border-radius: 3rem;
  padding: 0.5rem 1rem;
}

.titleContainer {
  flex-direction: column;
}

.titleText {
  color: #fff;
  font-size: 1.5rem;
  margin: 0;
}

.detailText {
  color: #fff;
  font-size: 1rem;
  margin: 0;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}