.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  border-radius: 1rem;
}

.whiteDie {
  border: 0.4rem solid #777;
  color: #000;
  background-color: #fff;
}

.silverDie {
  border: 0.4rem solid #aaa;
  color: #333;
  background: linear-gradient(
    135deg, 
    #ccc, 
    #ddd, 
    #fff, 
    #eee, 
    #ccc, 
    #bbb,
    #bbb
  );
}

.goldDie {
  border: 0.4rem solid #e1d176;
  color: #a7921c;
  background: linear-gradient(
    135deg,  
    #dac549, 
    #dfd181, 
    #f2e6a2, 
    #decc62, 
    #dec745,
    #d5bf43,
    #cdb52b
  );
}

.number {
  font-weight: bold;
  font-size: 3rem;
}

.pointer {
  cursor: pointer;
}

.slowRoll {
  animation-name: roll;
  animation-duration: 0.4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes roll {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}

.shakeHorizontal {
  animation-name: shake-h;
  animation-duration: 0.23s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes shake-h {
  0% { transform: translateX(0) }
  25% { transform: translateX(15px) }
  50% { transform: translateX(0px) }
  75% { transform: translateX(-15px) }
  100% { transform: translateX(0px) }
}

.shakeVertical {
  animation-name: shake-v;
  animation-duration: 0.18s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes shake-v {
  0% { transform: translateY(0) }
  25% { transform: translateY(15px) }
  50% { transform: translateY(0px) }
  75% { transform: translateY(-15px) }
  100% { transform: translateY(0px) }
}