.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0.1rem;
  width: 100%;
  height: 100%;
}

.extendedContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 0.1rem;
  width: 100%;
  height: 100%;
}

.pip {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.solidPip {
  background-color: black;
}

.shadowPip {
  box-shadow: inset 0 0 0.5rem #00000066;
}

.noPip {
  opacity: 0;
}

.centrePips {
  grid-row: 2 / span 3;
  grid-column: 2 / span 3;
}