.window {
  display: flex;
  flex-direction: column;
  justify-content: top;
  position: absolute;
  top: 6rem;
  right: 1.5rem;
  bottom: 1.5rem;
  left: 1.5rem;
  background-color: var(--color-primary-container);
  box-shadow: 0 0 1rem 0 var(--color-outline);
}

.windowHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-secondary);
  color: var(--color-on-secondary);
}

.windowTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  height: 3rem;
  padding-left: 1rem;
  display: flex;
  align-items: center;
}

.windowX {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-error);
  color: var(--color-on-error);
  cursor: pointer;
  height: 3rem;
  width: 3rem;
}

.windowXIcon {
  height: 2rem;
  width: 2rem;
}

.fileList {
  flex: 1;
  flex-direction: row;
  padding: 3rem;
  gap: 1rem;
}

.icon {
  font-size: 3rem;
  color: var(--color-on-primary-container);
}

.text {
  font-size: 1.25rem;
  color: var(--color-on-primary-container);
  margin: 0.5rem;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  text-align: center;
  padding: 1rem 1rem 0 1rem;
  cursor: pointer;
  width: 5rem;
  height: 7rem;
}

.contentContainer:hover {
  background-color: #ffffff20;
}