.container {
  cursor: default;
  opacity: 1;
}

.tile {
  border: 1rem solid yellow;
  border-radius: 1rem;
  width: 10rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem
}

.clickableAchievement {
  cursor: pointer;
}

.notUnlocked {
  opacity: 0.2;
}

.titleText {
  color: #fff;
  font-size: 1.5rem;
  font-weight: normal;
  text-align: center;
  margin: 0;
}

.descriptionText {
  color: #aaa;
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
  margin: 0;
}